<form [formGroup]="CustomerModel.formCustomerGroup">
    Customer Code : <input [(ngModel)]="CustomerModel.CustomerCode" type="text" formControlName="CustomerCodeControl"/><br>
    Customer Name : <input [(ngModel)]="CustomerModel.CustomerName" type="text" formControlName="CustomerNameControl"/><br>
    Customer Amount : <input [(ngModel)]="CustomerModel.CustomerAmount" type="text" [ngModelOptions]="{standalone: true}"/><br>
    <input (click)="Add()" type="button" value="Add" [disabled]="!CustomerModel.formCustomerGroup.valid"/><br>
</form>
{{CustomerModel.CustomerCode}}<br>
{{CustomerModel.CustomerName}}<br>
{{CustomerModel.CustomerAmount}}<br>

<div *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasError('pattern','CustomerCodeControl'))">
    Customer code format is not proper.
</div><br>

<div *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasError('required','CustomerCodeControl'))">
    Customer code is required
</div><br>

<div *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasError('required','CustomerNameControl'))">
    Customer Name is required.
</div><br>

<grid-ui [grid-columns]="[{'colName':'CustomerCode'},{'colName':'CustomerName'},{'colName':'CustomerAmount'}]"
    [grid-data]="CustomerModels"
    (grid-selected)="SelectCustomer($event)"
></grid-ui>